{% extends 'base.html.twig' %}

{% block title %} Product {{ product.id }} {% endblock %}

{% block body %}

<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Edition {{ product.id }} - {{ product.title }} </h1>

    <div class="row">
        {{ form_start(form) }}
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.slug) }}
            </div>  
            <div class="col-md-6">
                {{ form_row(form.category) }}
            </div>
              
            <div class="col-md-6">
                {{ form_row(form.thumbnailFile) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.description) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
