{% extends 'base.html.twig' %}

{% block title %} Product {{ product.id }} {% endblock %}

{% block body %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Product {{ product.id }}</h1>
    <hr>
    <a href="{{ path('product.index') }}" class="btn btn-primary">Back to list</a>
    
    <h2>Product Details</h2>
    
    <div class="row">
        <div class="col-md-6">
            <img src="{{ '/uploads/images/product/' ~ product.thumbnail }}" alt="{{ product.title }}" class="img-fluid">
        </div>
    </div>
    
    <p><strong>Title:</strong> {{ product.title }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Slug:</strong> {{ product.slug }}</p>
    <p><strong>Created At:</strong> {{ product.createdAt|date('Y-m-d H:i:s') }}</p>
    <p><strong>Updated At:</strong> {{ product.updatedAt|date('Y-m-d H:i:s') }}</p>

    <a href="{{ path('product.edit', { id: product.id }) }}">Edit</a>
</div>
{% endblock %}
