                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Store</th>
                            <th>Category</th>
                            <th>Img</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Store</th>
                            <th>Category</th>
                            <th>Img</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        {% for product in products %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td><a href="{{ path('product.show', { 'id': product.id }) }}">{{product.name}}</a></td>
                            <td>{{product.store.name}}</td>
                            <td>{{product.category.name}}</td>
                            <td><img src="{{ '/uploads/images/product/' ~ product.thumbnail }}" alt="{{ product.name }}" style="width: 50px; height: 50px;"></td>
                            <td>{{product.createdAt|date('d-m-Y')}}</td>
                            <td>{{product.updatedAt|date('d-m-Y')}}</td>
                            <td>
                                <a href="{{ path('product.show', { id: product.id }) }}" class="btn btn-circle btn-info"><i class="fas fa-info"></i></a>
                                <a href="{{ path('product.edit', { id: product.id }) }}" class="btn btn-circle btn-warning"><i class="fas fa-pencil-alt"></i></a>
                                <form action="{{ path('product.delete', { id: product.id }) }}" method="POST" style="display: inline-block;">
                                    <input type="hidden" name="_method" value="DELETE"> 
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <button onclick="confirmDelete({{ product.id }})" class="btn btn-circle btn-danger" type="submit"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>