{% extends 'base.html.twig' %}

{% block title %} Category Create {% endblock %}

{% block body %}

    <h1>Add Category</h1>

    <div class="row">
        {{ form_start(form) }}
            <div>
                {{ form_row(form.name) }}
            </div>
            <div>
                {{ form_row(form.slug) }}
            </div>
            <div>
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
