{% extends 'base.html.twig' %}

{% block title %}Store {{ store.name }} - Products list{% endblock %}

{% block body %}
 <!-- Begin Page Content -->
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('store.show', { 'id': store.id }) }}">{{ store.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
    <h1 class="h3 mb-2 text-gray-800">{{ store.name }} - Products list</h1>




    <a href="{{ path('product.create') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">New Product</span>
    </a>

    <!-- Page Heading -->
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

            {% include 'components/products-table.html.twig' %}
                
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
